.burger{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.burger:hover{
    cursor: pointer;
}
.burger span{
    display: block;

    height: 3px;
    width: 38px;

    border-radius: 3px;
    background-color: aliceblue;

    transition: all 0.3s;
}
.first{ 
    transform: translate(11px, 8px) rotate(45deg);
    transform-origin: top left;
}
.second{
    transform:  scale(0);
}
.third{
    transform:translate(-1px, -19px) rotate(-45deg);
    transform-origin: bottom right;
}
